{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "poetry build"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "twine upload dist/*"
      }
    ],
    "@semantic-release/git"
  ]
}
